body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#main-home {
    display: block;
    text-align: center;
    width: 100%;
}

#navbar {
    font-size: 13px;
    margin-left: 0px;
    margin-top: 0px;
    padding-top: 25px;
    padding-left: 12px;
    padding-bottom: 10px;
    display: flex;
    background-color: white;
    width: 100%;
}   

#navbar-left {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width:50%;
}

#navbar-right {
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    margin-right: 100px;
    width: 50%;
}

.navbar-link {
    text-decoration: none;
    margin: 10px;
    font-style: normal;
    color: rgba(0, 0, 0, 0.75);
}

.search {
    margin-top: 150px;
    text-align: center;
}

.main-button {
    color: #656565;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: 3px;
    margin-right: 3px;
    background-color: #f3f3f3;
    border: 0;
    border-radius: 4px;
    font-size: 11pt;
}

#search-box {
    margin-top: 15px;
    margin-bottom: 30px;
    padding-left: 40px;
    width: 550px;
    height: 42px;
    border-radius: 24px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.15);
    border-width: 1px;
    z-index: 0;
}

#home-glass {
    position: absolute;
    margin-top: 16px;
    margin-left: -10px;
    z-index: 1;
    transform: scale(0.83);
    fill: rgba(0, 0, 0, 0.38)
}

#bottom-bar {
    position: fixed;
    bottom: 0px;
    background-color: #f2f2f2;
    width: 100%;
    color: rgba(0, 0, 0, 0.54);
    padding-left: 0px;
}

.bottom-link {
    text-decoration: none;
    color: grey;
    margin-left: 30px;
    margin-top: 10px;
}

#bottom-bar-top {
    border-width: 1px;
    width: 100%;
    height: 40px;
    border-top: solid;
    border-width: 1px;
    border-color: #e4e4e4;
    font-size: 15px;
}

#bottom-bar-bottom {
    display: flex;
    height: 30px;
    border-top: solid;
    border-width: 1px;
    border-color: #e4e4e4;
    padding-top: 10px;
    font-size: 14px;
}

#bottom-bar-bottom-left {
    flex-direction: column;
    width: 50%;
}

#bottom-bar-bottom-right {
    flex-direction: column;
    text-align: right;
    padding-right: 50px;
    width: 50%;
}

@media (max-width:720px) {
    .search {
        margin-left: 300px;
    }
}